@import "../base/base.css";
html { font-size: 62.5%; }
@media only screen and (min-width: 374px) {
    html { font-size: 72%!important }
}
@media only screen and (min-width: 413px) {
    html { font-size: 80%!important }
}
@media only screen and (min-width: 481px) {
    html { font-size: 94%!important }
}
@media only screen and (min-width: 561px) {
    html { font-size: 109%!important }
}
@media only screen and (min-width: 641px) {
    html { font-size: 125%!important }
}
@media(orientation: landscape) and (min-width: 481px) {
    html { font-size: 62.5% !important; }
}
img{
    width: 100%;
}
.act-box{
    position: relative;
}
.er-wei-ma{
    position: absolute;
    width: 50%;
    margin-left: -25%;
    top: 15rem;
    left: 50%;
    text-align: center;
}
.er-wei-ma p{
    color: #fff;
    font-size: 1.6rem;
    margin-top: .5rem;
}
.go-hd{
    bottom: 0;
    right: 0;
    display: block;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    background-color: #fff;
}
.go-hd img:nth-child(1){
    width: 25%;
}
.go-hd img:nth-child(2){
    width: 70%;
}
.log-div{
    position: absolute;
    left: 50%;
    top: 40rem;
    margin-left: -7rem;
    width: 14rem;
    height: 4rem;
    line-height: 4rem;
    background-color: #fff;
    opacity: .7;
    text-align: center;
    font-size: 1.4rem;
    color: #c47f79;
}
.go-hd-a{
    display: block;
    width: 70%;
    height: 7rem;
    position: absolute;
    right: 0;

}