@import "../base/base.css";
html { font-size: 62.5%; }

@media only screen and (min-width: 374px) {
    html { font-size: 72%!important }
}
@media only screen and (min-width: 413px) {
    html { font-size: 80%!important }
}
@media only screen and (min-width: 481px) {
    html { font-size: 94%!important }
}

@media only screen and (min-width: 561px) {
    html { font-size: 109%!important }
}

@media only screen and (min-width: 641px) {
    html { font-size: 125%!important }
}

@media(orientation: landscape) and (min-width: 481px) {
    html { font-size: 62.5% !important; }
}
body, td, input, textarea, option, select, button {
    font-family: "Microsoft YaHei Regular";
}
.wraper{
    padding-bottom: 0;
}
.wraper ul{
    border-bottom:1px solid #f1f1ed;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    background-color: #f5f5f5;
    color:#acacac;
}
.wraper ul li{
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 33.33%;
    min-height: 100px;
    float: left;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    position: relative;
    background-color: #fff;
    padding-top:10px;
}
.wraper ul li.act{
    color: #dd0045;
    background-color: #f6e6f1;
}
.wraper li i{
    display: block;
    width: 100%;
}
.tab1{
    height: 60px;
    background: url(../../images/service/ser3.png) no-repeat center center;
    background-size:contain;
}
.tab2{
    height: 60px;
    background: url(../../images/service/ser4.png) no-repeat center center;
    background-size:contain;
}
.tab3{
    height: 60px;
    background: url(../../images/service/ser5.png) no-repeat center center;
    background-size:contain;
}
.tab4{
    height: 60px;
    background: url(../../images/service/ser6.png) no-repeat center center;
    background-size:contain;
}
.tab5{
    height: 60px;
    background: url(../../images/service/ser7.png) no-repeat center center;
    background-size:contain;
}
.tab6{
    height: 60px;
    background: url(../../images/service/ser8.png) no-repeat center center;
    background-size:contain;
}
.wraper ul li:nth-child(2){
    border-left:1px solid #f1f1ed;
    border-right:1px solid #f1f1ed;
}
.info-wraper{
    margin-top:10px;
    background-color: #f1f1ed;
}
.info-wraper > div > div{
   margin-bottom:10px;
}
.info-wraper .img{
    width: 30px;
    height: 30px;
    padding-top: 0;
    background-color: #fff;
    border-radius: 50%;
    border:1px solid #dd0045;
}
.my-lf .img{
    float:left;
}
.info{
    line-height: 1.3;
}

.info-wraper .info{
    position: relative;
    background-color: #f3f2f2;
    padding:10px;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #666;
    margin-right:25px;
    margin-bottom:10px;
}
.my-lf .info{
    margin-left:40px;
    border-top-left-radius: 0;
}
.angle{
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 20;
}
.my-lf .angle{
    width: 15px;
    height: 22px;
    background:url(../../images/service/left_angle.png) no-repeat transparent;
    background-size: contain;
    left: -14px;
}
.my-lr .angle{
    width: 15px;
    height: 25px;
    background:url(../../images/service/right_angle.png) no-repeat transparent;
    background-size: contain;
    right:-14px;
}
.my-lr .img{
    float:right;
}
.my-lr .info{
    margin-right:40px;
    color:#fff;
    margin-left:25px;
    background-color: #f5bbce;
    border-top-right-radius: 0;
}
.hide{
    display: none;
}
.service-wraper{
    padding:20px 10px 55px 10px;
    background-color: #fff;
    border-top: 1px solid #f1f1ed;
}
.service-wraper h2{
    font-size: 1rem;
    margin-bottom:15px;
}
.service-wraper p{
    font-size: 12px;
    color: #666;
    line-height: 1.5;
}
.service-wraper p i{
    display: inline-block;
    width: 23px;
    height: 14px;
    background: url(../../images/service/import.jpg) no-repeat;
    background-size: contain;
}
.service-wraper .img-box{
    width: 135px;
    height: 135px;
    margin:30px auto 0;
}


.cont-wraper{
    font-size: 1.2rem;
    padding:10px;
    background-color: #fff;
    color: #666;
    line-height: 2;
}

.txt-wraper{
    background-color: #fff;
    padding-left:10px;
}
.txt-cont{
    padding:10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.txt-cont p{
    border-left:2px solid #dd0045;
    padding-left:10px;
}
.txt-cont p:nth-child(1){
    font-size: 1.6rem;
}
.txt-cont p:nth-child(2){
    font-size: 1.2rem;
    color:#999;
}
.cont-wraper em,.cont-p-wraper em{
    color: #dd0045;
    font-size: 1.3rem;
}
.cont-wraper em.b-em{
    color: #000;
    font-weight: bold;
}
.point-p{
    padding-left:10px;
    background: url(../../images/service/point.png) no-repeat 0 5px;
}
.cont-p-wraper{
    line-height: 1.5;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.txt-cont-p{
    line-height: 1.5;
}
.cont-p-wraper li{
    padding-left:4rem;
    position: relative;
}
.cont-p-wraper li span{
    display: inline-block;
    position: absolute;
    z-index: 10;
    left:1rem;
    top:50%;
    margin-top:-0.5rem;
    width: 2.5rem;
    height: 2.5rem;
}
.ser-cont li span{
    margin-top:-1.3rem;
}
.certified span{
    background: url(../../images/service/certified.png);
    background-size: contain;
}
.quick span{
    background: url(../../images/service/quick.png);
    background-size: contain;
}
.low span{
    background: url(../../images/service/low.png);
    background-size: contain;
}
.refund span{
    background: url(../../images/service/refund.png);
    background-size: contain;
}
.service span{
    background: url(../../images/service/ser_my.png);
    background-size: contain;
}
.service-er span{
    background: url(../../images/service/ser_wx.png);
    background-size: contain;
}
.service-phone span{
    background: url(../../images/service/ser_phone.png);
    background-size: contain;
}
.cont-p-wraper li h2{
    padding-top:15px;
    font-size: 1.6rem;
}
.cont-p-wraper p{
    color: #666;
}
.service-title{
    padding-left:10px;
    font-size: 1.4rem;
    margin-top: 15px;
    color: #dd0045;
}
.ser-cont li{
   margin-top:15px;
}
.service i{
    display: inline-block;
    width: 23px;
    height: 14px;
    background: url(../../images/service/import.jpg) no-repeat;
    background-size: contain;
}
.txt-cont p:nth-child(2){
    padding-top:3px;
}
.ser-cont-txt {
    text-align: center;
    padding: 0 0 15px;
    margin-top: -10px;
}
.genuine-cont{
    margin-top:-10px;
    padding:0 0 10px 10px;
    background-color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    color:#666;
}
.genuine-cont li{
    padding-right:10px;
    width: 50%;
    float: left;
}
.genuine-cont li div{
    padding:15px 10px;
    border:1px solid #dcdadc;
    border-radius: 5px;
}
.g-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.g-icon{
    text-align: center;
}
.g-icon span{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    background:url(../../images/service/correct.png);
    background-size: contain;
}
.genuine-cont li:nth-child(2) span{
    background:url(../../images/service/money.png);
    background-size: contain;
}

